.title {
    text-align: center;
    width: auto;
    height: auto;
    font-family: arial;
}

.main {
    background-color: green;
    border-radius: 15px;
    padding-top: 30px;
}

.menu {
    list-style: none;
    text-decoration: none;

}

.menu__item {
    position: relative;
    display: inline-block;
    border: solid 2px black;
    width: 23%;
    background-color: cyan;
    color: black;
    text-align: center;
}

.menu__link {
    text-decoration: none;
    padding: 10px 10px;
    display: block;
}

.centrum {
    background-color: darkgray;
    padding: 30px;
    min-height: calc(100vh - 180px);
    font-size: 22px;

}

.zdjecie__home {
    float: left;
    margin-right: 10px;
}

.zdjecie__home2 {
    float: right;
    margin-left: 10px;
    height: 500px;
    width: auto;
    margin-top: 10px;
}

.zdjecie__home3 {
    float: left;
    margin-right: 10px;

}

.form__name {
    font-size: 22px;
}

.table {
    border-spacing: 30px 15px;
    float: left;
}

.siedziba {
    border-spacing: 30px 0px;
}

.siedziba__główna__infDodadkowe {
    font-size: 12px;
    text-decoration: underline;
}

.siedziba__tabela {
    vertical-align: top;
}

.data__ur {

}
